@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM Serif Display:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400;500;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #f5f2f0;
  
}
.container {
  /* background-image: linear-gradient(13deg, transparent 30%, #f5f2f0 70%),
    url("images/hero.jpg"); */
   
  height: 100vh;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
}

.subContainer {
  padding: 2% 5% 2% 5%;
}

/* Genreral */

/* .flex {
  display: flex;
  flex-direction: row;
} */

/* nav */
nav {
  /* width:100vw; */
  /* padding: 2%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.navLink {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.navLink a {
  font-family: "poppins", "san-serif";
  color: #929191;
  text-decoration: none !important;
  /* padding-left: 80px;*/
  padding-top: 10px;
  cursor: pointer;
  /* display: flex; */
  /* flex-direction: row; */
}

.navLink a:hover {
  color: #000;
}

/* hero */
.hero {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 50px;
  width:100%;
 
}

/* .heading {
  margin-left: 150%;
  font-family: "Martel";
  -webkit-text-stroke: 1px #a4a2a1;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-weight: 900;
}
.textPartone {
  margin-left: 190%;
  line-height: 20px;
  color: #333333;
  font-family: "Martel";
  font-size: 90px;
  font-weight: 900;
} */

.heading{
  font-size: 55px;

  width:80%;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}
.firstHeading {
  /* width:0%; */

  /* align-self: flex-end; */

  margin-right: 15%;
  font-family: "Martel";
  -webkit-text-stroke: 1px #a4a2a1;
  -webkit-text-fill-color: transparent;
  /* font-size: 100px; */
  font-weight: 900;
}
.secondHeading {
  /* margin-left: 190%; */
  /* width:0%; */

  /* align-self: flex-end; */

  line-height: 20px;
  color: #333333;
  font-family: "Martel";
  /* font-size: 90px; */
  font-weight: 900;
}




.textParttwo {
  width:20%;
  font-weight: 500;

  /* margin-left: 35%; */
  line-height: 30px;
  color: #949393;
  font-family: "Martel";
  font-size: 22px;
  align-self: flex-end;

  /* align-self: flex-end; */

  /* margin-left: 50%; */
}

.socialIcons{
  /* width: 20%; */
}
.hero ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-self: flex-start; */
  /* bottom:10px; */
  padding-bottom: -0%;
  flex-direction: column;
  gap: 40px;
  font-size: larger;
  align-self: flex-end;
}

.mailIcon {
  margin-bottom: -25px;
}

.buttomBelowHero {
  margin-top: 2%;
  margin-bottom: 5%;
}

.buttomBelowHero button {
  float: right;
  padding: 1% 4%;
  background-color: #333333;
  color: #fff;
  border: none;
  font-family: poppins;
  font-weight: 500;
  font-size: 1rem;
}

.secondHero {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 120px;
  /* display: block; */
}

.secondHero ul {
  font-family: "poppins","san-serif";
  color:#aeadad;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight:500;
}

.secondHero .liBold  {
color:#333333;
}
.secondHero ul:before {
  content: "";
  display: inline-block;
  width: 2px;
  background: #aeadad;
  position: absolute;
  left: 3px;
  top: 5px;
  height: calc(100% - 10px);
}
.secondHero ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 10%;
}
.secondHero ul li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #828282;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 10px;
}

.secondHero ul .liBold:before {

  background: #333333;
  width: 10px;
  height: 10px;
  

}
/*  :before {
  background:#333333
} */


.leftSide-secondHero {
  width: 48%;
  display: flex;
  justify-content: end;
}

.rightSide-secondHero {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  /* display:flex;
flex-direction: column; */
}

.quoteIcon {
  color: #333333;
  font-size: 40px;
  font-weight: 900;
}
.rightSide-secondHero p {
  font-family: "poppins", "san-serif";
  font-weight: 500;
}

.imageArrowFlex {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
}

.imgDanceBox {
  width: 80%;
  margin-top: 2%;
}
.rightSide-secondHero img {
  width: 100%;
  max-width: 350px;
  height: auto;
}
.arrowDown {
  margin-top: -2%;
  width: 20%;
  font-size: 100px;
  color: #424242;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1300px) {
  /* .container{
    background-image: linear-gradient(90deg, transparent 30%, #f5f2f0 10%),
    url("images/hero.jpg");
  } */
 
}

@media only screen and (max-width: 1120px) {
  .heading{
    font-size:35px;
  }


}

@media only screen and (max-width: 900px) {

  .container{
  
  /* background: url("images/hero.jpg") center center no-repeat; 
background-size: cover; */
/* background-image:
linear-gradient(0deg,  rgba(255, 255, 255, 0.73) 50%, transparent 100%),
url("images/hero.jpg"); */
/* background-position: 30% 90%; */
/* background-size:50%; */
/* object-fit: fill; */
  
background-image: 
url("images/hero.jpg"); 
background-size: 50% 50%;background-repeat: no-repeat;

background-position: top left;

/* backface-visibility: 90%; */


  }
 
}




/* @media only screen and (max-width: 1200px) {
  .textParttwo {
    margin-left: 45%;

    align-self: center;
  }

  .heading,
  .textPartone {
    padding-left: 140%;
  }
  .textParttwo {
    padding-left: 45%;
  }
  .heading,
  .textPartone,
  .textParttwo {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1012px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textLine {
    display: none;
  }

  .hero {
    flex-direction: row;
  }
  .heading,
  .textPartone,
  .textParttwo {
    margin-left: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    background-image: linear-gradient(12deg, transparent 30%, #f5f2f0 70%),
      url(images/hero.jpg);
  }
}
@media only screen and (max-width: 525px) {
  .navLink {
    gap: 20px;
  }

  .hero ul {
    flex-direction: row;
  }
} */
